<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-275">
    <!-- Footer -->
    <div id="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-8 col-12-medium">

                    <section>
                        <h2>Contact Us</h2>
                        <div>
                            <p>{{ client.address.lineOne }}</p>
                            <p>{{ client.address.lineTwo }}</p>
                            <p>{{ client.address.city }}, 
                                {{ client.address.state }}
                                {{ client.address.zip }}</p>
                        </div>
                    </section>

                </div>
                <div class="col-4 col-12-medium">

                    <section>
                        <h2>Something of interest</h2>
                        <p>Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed.
                        Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet
                        mollis justo facilisis quis.</p>
                        <footer class="controls">
                            <a href="#" class="button">Oh, please continue ....</a>
                        </footer>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <div id="copyright">
                        &copy; {{ client.name }}. All rights reserved. | <a href="mailto:{{ client.email }}">{{ client.email }}</a>
                    </div>
                    <div>
                        Webpage design by <a =href="https://sxsweb.design/">SWSWeb</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</footer>