<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <!-- Header -->
        <div id="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <header id="header">
                            <h1><a href="/" id="logo"  aria-label="back to home"><img src="/assets/svgs/logo-SXSWeb-color-black.svg" alt="logo" height="75" aria-hidden="true" decoding="async" style="padding: 5px 0 5px 0"></a></h1>

                            <nav id="nav">
                                <a href="/about/">About Us</a>
                                <a href="/blog/">Blog</a>
                                <a href="/project-one/">Project One</a>
                                <a href="/project-two/">Project Two</a>
                                <a href="/reviews/">Reviews</a>
                                <a href="/contact/">Contact</a>
                                
                                <!--
                                <a href="/twocolumn1.html">Two Column #1</a>
                                <a href="/twocolumn2.html">Two Column #2</a>
                                <a href="/onecolumn.html">One Column</a>
                                <a href="/threecolumn.html">Three Column</a>
                                -->

                            </nav>
                        </header>

                    </div>
                </div>
            </div>
        </div>
</header>