---
title: 'About | SWSWeb Designs'
description: 'SXSWeb is a small business helping other small businesses flourish though careful design of the webapges that engage customers.'
permalink: "/about/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base-minimax.html" %}

{% block body %}

<div id="page-wrapper">

	<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row main-row">
				<div class="col-8 col-12-medium">

					<section>
						<h2>Changing for the sake of it</h2>

						<h3>SXSWeb Design</h3>
						
						<p>Our names are Bekah and Jorge, and we are the owners of SXSWeb Design, and Dance-Virtual.

						During college, Jorge learned to program websites from scratch, because that was all that was available. He saw many years of technology come and go.

						Bekah was a ballroom dancer, and started learning technology while she was pregnant.
						
						Together, we learned wild things while running a small business. We now use what we learned about human-computer interactions to elevate other small businesses through carefully crafted websites.</p>

						<p>When we started our own business, we didn't have $3,000 (plus $50/hour for edits) of capital to invest in a website that would attract customers. Many small businesses are in a similar situation. We realized even the businesses that do have money to spend upfront, pay a large corporation to get a cookie-cutter website that fails to attract their customers.</p>

						<p>We provide a business model to fit your website needs. You start with $0 down, and $150 a month. It's more manageable for small businesses to get started with us. Sometimes getting started is all it takes.</p>
					</section>

				</div>
				<div class="col-4 col-12-medium">

					<section>
						<h2>Who are you guys?</h2>
						<ul class="small-image-list">
							<li>
								<a href="#"><img src="/assets/minimax/images/jorge-and-bekah-interview.jpg" alt="" class="left" /></a>
								<h4>Rebekan Diaz</h4>
							</li>
							<li>
								<a href="#"><img src="/assets/minimax/images/jorge-and-bekah-dance.jpg" alt="" class="left" /></a>
								<h4>Jorge Ortiz</h4>
							</li>
						</ul>


					</section>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}