---
title: "Contact | SWSWeb Designs"
description: "Contact SXSWeb Designs to get you started with your local business website."
permalink: "/contact/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/two-column-left.html" %}

{% block head %}
	<link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block content_left %}

	<section>
		<h1>Contact</h1>

		<div class="cs-content">

			<h2 class="cs-title">Get in Touch</h2>
			<p class="cs-text">
								Let us know if you are ready to get started or have questions.
							</p>
		</div>

		<section id="cs-contact-265">
			<div class="cs-container">

				<form data-netlify="true" id="cs-form-265" name="Contact Form" method="post">
					<label>Name
				<input required type="text" id="name-265" name="name" placeholder="Name">
					</label>
					<label>Email
				<input required type="text" id="email-265" name="email" placeholder="Email">
					</label>
					<label>Phone
				<input required type="text" id="phone-265" name="phone" placeholder="Phone">
					</label>
					<label>How Did You Find Us
				<input type="text" id="find-265" name="find-us" placeholder="How did you find us?">
					</label>
					<label class="cs-label-message">
				Message
				<textarea required name="Message" id="message-265" placeholder="Write message..."></textarea>
					</label>
					<button class="btn-secondary" type="submit">Submit Message</button>
				</form>
			</div>
		</section>

	</section>

{% endblock %}
{% block content_right %}

	<section>

		<!--Email-->
		<span class="cs-header">Email</span>
		<p>
			<a class="cs-link" href="mailto:{{ client.email }}">{{ client.email }}</a>
		</p>
		<!--Phone-->
		<span class="cs-header">Phone</span>
		<p>
			<a class="cs-link" href="tel:{{ client.phoneForTel }}">{{ client.phoneFormatted }}</a>
		</p>
		<!--Address-->
		<span class="cs-header">Address</span>
		<p>
			<a class="cs-link" href="{{ client.address.mapLink }}">
				{{ client.address.lineOne }}, <br>
				{{ client.address.lineTwo }}, <br>
				{{ client.address.city }}, {{ client.address.state }}
				{{ client.address.zip }}
			</a>
		</p>
		<section>
			<h2>Additional Contacts</h2>
			<p>
        If you have questions or would like to connect with a specific ministry,
        please use the contacts below.
    </p>

			<ul>
				<li>
					<strong>Prayer Requests:</strong>
					<a href="mailto:chughesx49@gmail.com">chughesx49@gmail.com</a>
				</li>

				<li>
					<strong>Music Ministry:</strong>
					<a href="mailto:dpchappell1211@gmail.com">dpchappell1211@gmail.com</a>
				</li>

				<li>
					<strong>Men’s Ministry:</strong>
					<a href="mailto:pudaniel@yahoo.com">pudaniel@yahoo.com</a>
				</li>

				<li>
					<strong>Women’s Ministry:</strong>
					<a href="mailto:facrowder@gmail.com">facrowder@gmail.com</a>
				</li>

				<li>
					<strong>Kids Ministry:</strong>
					<a href="mailto:mamaw4462@yahoo.com">mamaw4462@yahoo.com</a>
				</li>

				<li>
					<strong>General Questions:</strong>
					<a href="mailto:daisypicker2540@gmail.com">daisypicker2540@gmail.com</a>
				</li>
			</ul>
		</section>
		<!-- Background Image-->
		<img src="/assets/minimax/images/sbc-prissy.jpeg" alt="" class="middle" width="100%"/>

	</section>

{% endblock %}