---
title: "Men Ministries | SBC"
description: 'SXSWeb is a small business helping other small businesses flourish though careful design of the webapges that engage customers.'
permalink: "/ministries/men/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base-minimax.html" %}

{% block body %}

<div id="page-wrapper">

	<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row main-row">
				<div class="col-8 col-12-medium">

					<section>
						<h2>Men's Mens mesnnfd safnsd</h2>

						<h3>Sunday Mornings</h3>
						
						<p> Pastor's name is Marcos, he is a relatable guy</p>
						<h3>Wednesday Nights</h3>
						<p>Decons are important at the church</p>
						<h3>Thursday Women’s Bible Study</h3>						
<img src="/assets/minimax/images/SBC-test-kite-festival.JPG" alt="" class="middle" width="50%" />
						<p>Dwayne wants you to join the choir. Disregard the kite photo. it is a test. </p>
						<h3>Men’s Fellowship Lunches</h3>
						<p>Dwayne wants you to join the choir. Disregard the kite photo. it is a test. </p>
						<h3>Special Events & Fellowship</h3>
						<p>Dwayne wants you to join the choir. Disregard the kite photo. it is a test. </p>

					</section>

				</div>
				<div class="col-4 col-12-medium">

					<section>
						<h2>Who are you guys?</h2>
						<ul class="small-image-list">
							<li>
								<a href="#"><img src="/assets/minimax/images/jorge-and-bekah-interview.jpg" alt="" class="left" /></a>
								<h4>Leader name</h4>
							</li>
							<li>
								<a href="#"><img src="/assets/minimax/images/jorge-and-bekah-dance.jpg" alt="" class="left" /></a>
								<h4>Leader name</h4>
							</li>
						</ul>


					</section>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}