---
title: 'Sermons | Shenandoah Batpist Church'
description: 'Hear firsthand from our clients about the amazing websites we created for them.'
permalink: "/sermons/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/one-column.html" %}
{% block content %}

	<h2>Sermons</h2>
	<img src="/assets/minimax/images/sbc-sunday-service.jpeg" width="100%"/>

	<p>Below is a link to our latest sermons.</p>

	<section>
		<!-- Elfsight YouTube Gallery | Recorded Sermons -->
		<script src="https://elfsightcdn.com/platform.js" async></script>
		<div class="elfsight-app-987fd9db-4a42-4f4f-b4a3-c40e338854a4" data-elfsight-app-lazy></div>
	</section>

{% endblock %}