---
title: 'SXSWeb: Affordable Web Design for Small Businesses'
description: 'SXSWeb helps you create a mobile and responsive website for your business. Our web designers will handle all tasks for you, including a logo design.'
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base-minimax.html" %}

{% block body %}
		<div id="page-wrapper">
			<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Baptist Church in Cedar Park, TX</h2>
							<span>A Welcoming Church for Families and Those Seeking Hope</span>
						</div>

					</div>
				</div>

			<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-4 col-12-medium">

								<section>
									<h2>Welcome to Shenandoah Baptist Church's Website!</h2>
									<p>If you’re looking for a <strong>Baptist church in Cedar Park</strong>, where your family will be known, welcomed, and encouraged in faith, you’re in the right place..</p>
									<footer class="controls">
										<a href="http://html5up.net" class="button">See what we are planning</a>
									</footer>
								</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<section>
									<h2>At Shenandoah Baptist Church,</h2>
									<ul class="small-image-list">
										<li>
											<a href="#"><img src="assets/images/pic2.jpg" alt="" class="left" /></a>
											<h4>Pastor Marcos</h4>
											<p>we are a small, relational Christian church committed to helping people grow closer to God, build meaningful community, and find lasting hope in Christ.</p>
										</li>
										<li>
											<a href="#"><img src="assets/images/pic1.jpg" alt="" class="left" /></a>
											<h4>Wesley Griffin</h4>
											<p>Whether you’ve followed Jesus for years or you’re simply curious about church, you are welcome here. Talk with me on Wednesday nights</p>
										</li>
									</ul>
								</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<section>
									<h2>Missed us Sunday?</h2>
									<div>
										<div class="row">
											<div class="col-6 col-12-small">
												<ul class="link-list">
													<li><a href="#">Link to men's page</a></li>
													<li><a href="#">Link to womens page</a></li>
													<li><a href="#">Link to youth page</a></li>
													<li><a href="#">link to see archive of sermons</a></li>
													<li><a href="#">link to give</a></li>
												</ul>
											</div>
											<div class="col-6 col-12-small">
												<ul class="link-list">
													<li><a href="#">link to send a prayer request</a></li>
													<li><a href="#">click here to ask about volunteer opportunities</a></li>
													<li><a href="#">click here to ask about the youth program</a></li>
													<li><a href="#">click here to ask about becoming a member of the church</a></li>
													<li><a href="#">link to Pastors email</a></li>
												</ul>
											</div>
										</div>
									</div>
								</section>

							</div>
							<div class="col-6 col-12-medium">

								<section>
									<h2>A Church Where You’re More Than a Face in the Crowd</h2>
									<p>In a growing area like Cedar Park, it’s easy to feel lost in the noise. We believe church should feel personal.At Shenandoah Baptist Church: You’ll be greeted warmly. Your children will be cared for. Your questions are welcome. Your family will be known. </p>
									<ul class="big-image-list">
										<li>
											<a href="#"><img src="assets/images/pic3.jpg" alt="" class="left" /></a>
											<h3>Deborah Romero</h3>
											<p>I love the ladies free sewing class.</p>
										</li>
										<li>
											<a href="#"><img src="assets/images/pic4.jpg" alt="" class="left" /></a>
											<h3>Michelle Ellis</h3>
											<p> What a precious community of believers</p>
										</li>
										<li>
											<a href="#"><img src="assets/images/pic5.jpg" alt="" class="left" /></a>
											<h3>Sheila Clevenger</h3>
											<p>Shenandoah is one of the friendlist churches ever. Our Pastor preaches right out of God's word and welcomes our questions in Sunday School. Come join us and feel God's heart</p>
										</li>
									</ul>
								</section>

							</div>
							<div class="col-6 col-12-medium">

								<article class="blog-post">
									<h2>Just another blog post</h2>
									<a class="comments" href="#">33 comments</a>
									<a href="#"><img src="assets/images/pic6.jpg" alt="" class="top blog-post-image" /></a>
									<h3>Magna Gravida Dolore</h3>
									<p>Aenean non massa sapien. In hac habitasse platea dictumst.
									Maecenas sodales purus et nulla sodales aliquam. Aenean ac
									porttitor metus. In hac habitasse platea dictumst. Phasellus
									blandit turpis in leo scelerisque mollis. Nulla venenatis
									ipsum nec est porta rhoncus. Mauris sodales sed pharetra
									nisi nec consectetur. Cras elit magna, hendrerit nec
									consectetur in, sollicitudin vitae justo. Cras amet aliquet
									Aliquam ligula turpis, feugiat id fermentum malesuada,
									rutrum eget turpis. Mauris sodales sed pharetra nisi nec
									consectetur. Cras elit magna, hendrerit nec consectetur
									in sollicitudin vitae.</p>
									<footer class="controls">
										<a href="#" class="button">Continue Reading</a>
									</footer>
								</article>

							</div>
						</div>
					</div>
				</div>

		</div>


{% endblock %}